@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a; /* Fundo bem escuro */
    color: #e0e0e0; /* Texto claro */
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #333333; /* Cinza bem escuro */
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 3em;
    color: #fff; /* Título em branco para destaque */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

/* Estilo para o título das seções */
h2 {
    color: #ff4500; /* Laranja escuro para destaque */
    border-bottom: 2px solid #ff4500;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos do rodapé */
footer {
    background-color: #333333; /* Cinza bem escuro */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer button {
    background-color: #ff4500; /* Laranja escuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer button:hover {
    background-color: #e63900; /* Laranja mais escuro ao passar o mouse */
}

/* Estilos para a lista de filmes e séries */
.filmes-container {
    background-color: #2a2a2a; /* Cinza escuro */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
}

.filmes-list {
    list-style: none;
    padding: 0;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
}

.filmes-list li {
    background-color: #444444; /* Cinza mais escuro */
    color: #fff; 
    padding: 20px;
    border-radius: 10px; 
    transition: background-color 0.3s, transform 0.3s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    text-align: center; 
    position: relative; 
}

.filmes-list li:hover {
    background-color: #ff4500; 
    transform: scale(1.05); 
}

/* Estilos do logo */
.logo {
    max-width: 150px; 
    margin-top: 10px; 
    border-radius: 10px; 
    transition: transform 0.3s, box-shadow 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.logo:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
}

/* Estilos do menu de configurações */
.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

/* Estilos para o Top 10 */
.top-10-container {
    background-color: #2a2a2a; /* Fundo escuro */
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    margin: 20px 0; 
}

.top-10-list {
    list-style: none; 
    padding: 0; 
}

.top-10-item {
    background-color: #444444; /* Cor de fundo para os itens */
    color: #fff; 
    padding: 15px; 
    margin-bottom: 10px; 
    border-radius: 8px; 
    transition: background-color 0.3s, transform 0.3s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    position: relative; 
    text-align: left; 
    display: flex; 
    justify-content: space-between; 
}

.top-10-item:hover {
    background-color: #ff4500; /* Efeito hover igual ao da lista de filmes */
    transform: scale(1.05); /* Efeito de escala ao passar o mouse */
}

.top-10-item::before {
    content: counter(item) ". "; 
    counter-increment: item; 
    font-weight: bold; 
    color: #ff9900; 
    margin-right: 10px; 
}
/* Estilo para o texto da história */
.historia-text {
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
    line-height: 1.6; /* Aumenta o espaçamento entre linhas */
    background-color: #2a2a2a; /* Fundo escuro para contraste */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 15px; /* Espaçamento interno */
    margin-top: 10px; /* Margem superior */
}

/* Estilos para o Top 10 */
.top-10-list {
    list-style: none; 
    padding: 0; 
    counter-reset: item; /* Reseta o contador */
}

.top-10-item {
    background-color: #444444; /* Cor de fundo para os itens */
    color: #fff; 
    padding: 15px; 
    margin-bottom: 10px; 
    border-radius: 8px; 
    transition: background-color 0.3s, transform 0.3s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
    display: flex; /* Usando flexbox para melhor controle */
    align-items: center; /* Alinha o conteúdo verticalmente */
    justify-content: space-between; /* Distribui espaço entre número e nome */
}

.top-10-item::before {
    content: counter(item) ". "; /* Adiciona os números */
    counter-increment: item; /* Incrementa o contador */
    font-weight: bold; 
    color: #ff9900; 
    margin-right: 20px; /* Espaço entre número e nome */
    flex-shrink: 0; /* Impede que o número encolha */
}

.top-10-item-name {
    flex-grow: 1; /* Permite que o nome ocupe o espaço restante */
    text-align: left; /* Alinhando o texto à esquerda */
    margin-left: 10px; /* Espaço à esquerda do nome */
}
.video-container iframe {
    transition: transform 0.3s, box-shadow 0.3s; /* Adiciona transição */
}

.video-container iframe:hover {
    transform: scale(1.05); /* Aumenta a escala ao passar o mouse */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Sombra mais intensa */
}
.top-10-item.one-above-all:hover {
    background-color: #FFD700; /* Amarelo ao passar o mouse */
}

.top-10-item.infinity-gauntlet:hover {
    background-color: #6A0dad; /* Cor que combina com as Joias do Infinito ao passar o mouse */
}

.top-10-item.living-tribunal:hover {
    background-color: #FFD700; /* Amarelo mais escuro ao passar o mouse */
}

.top-10-item.beyonder:hover {
    background-color: #708090; /* Cinza puxado pro azul ao passar o mouse */
}

.top-10-item.eternity:hover {
    background-color: #1E90FF; /* Azul que representa Eternidade ao passar o mouse */
}

.top-10-item.scarlet-witch:hover {
    background-color: #8B0000; /* Vermelho puxado pro vinho ao passar o mouse */
}

.top-10-item.franklin-richards:hover {
    background-color: #B0E0E6; /* Azul bebê ao passar o mouse */
}

.top-10-item.phoenix-force:hover {
    background-color: #FF4500; /* Vermelho alaranjado ao passar o mouse */
}

.top-10-item.amatsu-mikaboshi:hover {
    background-color: #4B0082; /* Preto puxado pro roxo ao passar o mouse */
}

.top-10-item.mephisto:hover {
    background-color: #8B0000; /* Vermelho com um pouco de preto ao passar o mouse */
}
/* Estilos padrão (Tema Escuro) */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a; /* Fundo escuro */
    color: #e0e0e0; /* Texto claro */
}

header {
    background-color: #333; /* Cabeçalho escuro */
}

header h1 {
    color: #fff; /* Título em branco */
}

footer {
    background-color: #333; /* Rodapé escuro */
}

.top-10-item {
    background-color: #444; /* Fundo dos itens */
    color: #fff; /* Texto claro */
}

/* Tema Claro */
body.light {
    background-color: #f0f0f0; /* Fundo claro */
    color: #333; /* Texto escuro */
}

header.light {
    background-color: #fff; /* Cabeçalho branco */
}

header.light h1 {
    color: #ff0000; /* Título vermelho */
}

footer.light {
    background-color: #fff; /* Rodapé branco */
}

.top-10-item.light {
    background-color: #f5f5f5; /* Fundo claro para os itens */
    color: #333; /* Texto escuro para os itens */
}

/* Cores de hover para o tema claro */
.top-10-item.one-above-all:hover {
    background-color: #ffe680; /* Amarelo claro */
}

.top-10-item.infinity-gauntlet:hover {
    background-color: #d5c6e0; /* Cor clara */
}

.top-10-item.living-tribunal:hover {
    background-color: #ffe680; /* Amarelo claro */
}

.top-10-item.beyonder:hover {
    background-color: #a8b2b4; /* Cinza claro puxado pro azul */
}

.top-10-item.eternity:hover {
    background-color: #b0e0ff; /* Azul claro que representa Eternidade */
}

.top-10-item.scarlet-witch:hover {
    background-color: #ff9999; /* Vermelho claro puxado pro vinho */
}

.top-10-item.franklin-richards:hover {
    background-color: #e0ffff; /* Azul bebê claro */
}

.top-10-item.phoenix-force:hover {
    background-color: #ff9980; /* Vermelho alaranjado claro */
}

.top-10-item.amatsu-mikaboshi:hover {
    background-color: #d5b0e0; /* Preto puxado pro roxo claro */
}

.top-10-item.mephisto:hover {
    background-color: #ff9999; /* Vermelho claro */
}
